form label {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.img-responsive-modal {
	max-width: 100%;
}

.img-above {
	position: relative;
    display: inline;
}

.img-banlist {
	position: absolute;
	margin-top: -110px;
    right: 0%;
    top: 0%;
    max-width: 30%;
}

.card-result {
	margin-bottom: 20px;
}

.fa-rotate-45-left {
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fa-rotate-45-right {
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-linkmarker:not(:disabled):not(.disabled).active, .btn-linkmarker:not(:disabled):not(.disabled):active, .show>.btn-linkmarker.dropdown-toggle {
	background-color: #767676;
    border-color: #767676;
}

#form_filter label {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
}

#form_filter select {
    width: 15%;
}