form label {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.img-responsive-modal {
	max-width: 100%;
}

.img-banlist {
	position: absolute;
	left: 35%;
    top: 10%;
    margin-top: -25px;
	margin-left: -25px;
	width: 15%;
	height: 20%;
}

.card-result {
	margin-bottom: 20px;
}

.fa-rotate-45-left {
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fa-rotate-45-right {
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-linkmarker:not(:disabled):not(.disabled).active, .btn-linkmarker:not(:disabled):not(.disabled):active, .show>.btn-linkmarker.dropdown-toggle {
	background-color: #767676;
    border-color: #767676;
}